{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="container-fluid bg-transparent my-5 d-flex flex-column">
        <div class="d-flex justify-content-center">
            <h1 class="my-text text-primary">Welcome to the Role Master official website!</h1>
        </div>
        <ul>
            {% for post in posts %}
                <li>
                    <h2 class="card-title text-info">{{ post.title }}</h2>
                    <p class="card-title text-info">{{ post.content }}</p>
                    {% if user.is_superuser %}
                        <p class="my-text text-info">Created at: {{ post.created_at }}</p>
                        <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'post_edit' post.id %}" class="btn btn-primary">Edit</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
