{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="container-fluid bg-transparent my-5">
        <h1 class="my-4 text-center text-success">Welcome to the Role Master official website!</h1>
        <p>{{ text }}</p>
        <h1 class="my-4 text-success">Info Page</h1>

        {% for info_post in info_posts %}
            <div class="card mb-4 bg-transparent">
                <div class="card-body">
                    <h2 class="card-title text-success">{{ info_post.title }}</h2>
                    <p class="card-text text-success">{{ info_post.content }}</p>
                    {% if user.is_superuser %}
                        <a href="{% url 'info_post_delete' info_post.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        {% for post in posts %}
            <div class="card mb-4 bg-transparent">
                <div class="card-body">
                    <h3 class="card-title text-success">{{ post.title }}</h3>
                    <p class="card-text text-success">{{ post.content }}</p>
                    {% if user.is_superuser %}
                        <p class="card-text text-success">Created at: {{ post.created_at }}</p>
                        <a href="{% url 'info_post_delete' post.id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'info_post_edit' post.id %}" class="btn btn-success">Edit</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
